services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ereport_app
    ports:
      - "5173:5173" # Vite dev server
      - "5174:5174" # Vite dev server (alternative)
    volumes:
      - .:/var/www/html
    depends_on:
      - db
      - redis

  web:
    image: nginx:alpine
    container_name: ereport_nginx
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: ereport_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD:-root}
      MYSQL_DATABASE: ${DB_DATABASE:-ereport}
      MYSQL_USER: ${DB_USERNAME:-ereport}
      MYSQL_PASSWORD: ${DB_PASSWORD:-secret}
    # Uncomment jika perlu akses MySQL dari host (untuk database client)
    # ports:
    #   - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql

  redis:
    image: redis:alpine
    container_name: ereport_redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  dbdata:
